{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
  <main class="mealplans-detail">
    <div>
      <a href="{% url 'mealplans_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'mealplans_delete' mealplan.id %}">Delete</a>
    </div>
    <h2>Recipes in {{ mealplan.name }}, created by {{ user }} on {{ mealplan.date }}</h2>
    {% for recipe in mealplan.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">
          {{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>
{% endblock content %}
