{% extends 'base.html' %}

{%block pagination%}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
{%endblock pagination%}

{% block content%}
  <main class="mealplan-grid">
    <a class="create-mealplan-button"
    href="{% url 'mealplans_new' %}">Create
    </a>

    {% for mealplan in mealplan_list %}
      <div class="mealplans-card">
        <h2 class="mealplans-card-title">
          <a href="{% url 'mealplans_detail' mealplan.pk %}">{{ mealplan.name }}</a>
        </h2>
        <p class="mealplans-card-date">{{ mealplans.updated }}</p>
      </div>
    {% endfor %}
  </main>
{% endblock content%}
